<div class="given">
  <p>I work just fine</p>
  <p>no need to struggle</p>
  <h1>do you work?</h1>
  <div>
    <ul>
      <li>blue</li>
      <li>black</li>
      <li>green</li>
    </ul>
    <div>
      <p>I have something</p>
      <p>okay</p>
    </div>
  </div>
  <div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis voluptates minus, praesentium ad porro maiores ipsum velit veniam officia libero asperiores obcaecati perspiciatis nisi autem cupiditate eum amet fuga beatae.</p>
  </div>
</div>

<div></div>

<button>Tickets</button>
<button>Review</button>